@charset "ISO-8859-1";


#div1{
 
  height: 100px;
  
  padding: 50px;

}

#div2{

 
 padding-left: 10px;
   
  height: 60px;
  width: 600px;
  float: right;
  margin-top:10px;
  margin-right: 10px;
  margin-bottom: 20px;

}

a{

    margin: 10px;
  font-size: 25px;
  color: rgb(116, 50, 138);
  font-family:monospace;
  
}

#divh1{

    float: left; margin-left: 180px;
    color: rgb(50, 10, 194);
    font-size: 53px;
    font-family:'Times New Roman', Times, serif;
}

#div3{

	
    margin: 60px;

    font-style: italic;
    font-size: 30px;
    
    color: #a3e1c2ad;

    margin-top: 250px;
    margin-left: 300px;
}

